$closescolor:rgb(58,81,137);
$skincolor:rgb(224,176,43);
@mixin rotate($value) {
  transform:rotate($value);
  -ms-transform:rotate($value); 	/* IE 9 */
  -moz-transform:rotate($value); 	/* Firefox */
  -webkit-transform:rotate($value); /* Safari 和 Chrome */
  -o-transform:rotate($value);
}
@mixin skew($value){
  transform:skew($value);
  -ms-transform:skew($value); 	/* IE 9 */
  -moz-transform:skew($value); 	/* Firefox */
  -webkit-transform:skew($value); /* Safari 和 Chrome */
  -o-transform:skew($value);
}
@keyframes foot {
  from {@include skew(15deg);margin-left: 68px}
  to {@include skew(30deg);margin-left: 74px;}
}
@keyframes leg {
  from {border-left: 10px solid transparent;
    border-right: 10px solid transparent;}
  to {@include skew(15deg);border-left: 12px solid transparent;
    border-right: 8px solid transparent;}
}
@keyframes arm {
  from { transform: rotate(355deg);transform-origin: top;}
  to {transform: rotate(214deg); transform-origin: top;border-bottom-left-radius: 70%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 66px;
    }
}
@keyframes hand {
  from { transform: rotate(8deg);
  }
  to {transform: rotate(-12deg);
  }
}
@keyframes finger1 {
  from {@include rotate(10deg);}
  to {@include rotate(30deg);}
}
@keyframes finger3 {
  from {@include rotate(179deg);}
  to {@include rotate(170deg);}
}

.minions{
  width:110px;
  display:block;
  margin:230px auto;

  @at-root {
    .hairs{
      position:relative;

      .hair1{
        width:46px;
        height:20px;
        border-top:2px solid black;
        border-top-right-radius: 26%;
        border-top-left-radius: 60%;
        position:absolute;
        left:8px;
        bottom:-18px;
      }
      .hair2{
        width:50px;
        height:30px;
        border-top:2px solid black;
        border-top-right-radius: 26%;
        border-top-left-radius: 50%;
        position:absolute;
        left:5px;
        bottom:-26px;
      }
      .hair3{
        width:50px;
        height:30px;
        border-top:2px solid black;
        border-top-left-radius: 26%;
        border-top-right-radius: 50%;
        position:absolute;
        right:8px;
        bottom:-26px;
      }
      .hair4{
        width:46px;
        height:20px;
        border-top:2px solid black;
        border-top-left-radius: 26%;
        border-top-right-radius: 60%;
        position:absolute;
        right:10px;
        bottom:-18px;
      }
    }

    .body{
      position:relative;
      width:110px;
      height:170px;
      background-color: $skincolor;
      border-radius: 40px;

      @at-root {
        .eyes{
          position:relative;
          .left-eye{
            width:36px;
            height:28px;
            background-color: rgb(240,240,240);
            border-radius: 30%;
            position:absolute;
            left:16px;
            top:30px;

            .left-eyeball{
              width:12px;
              height:12px;
              background-color: rgb(85,40,26);
              border-radius: 50%;
              margin-top: 10px;
              margin-left: 15px;
              overflow: hidden;

              .left-eye-black{
                width:6px;
                height:6px;
                background-color: black;
                border-radius: 50%;
                margin-top:2px;
                margin-left:2px;
              }
              .left-eye-white{
                width:2px;
                height:2px;
                background-color: white;
                border-radius: 50%;
                margin-top: -4px;
                margin-left: 8px;
              }
            }
          }
          .right-eye{
            width:36px;
            height:28px;
            background-color: rgb(240,240,240);
            border-radius: 30%;
            position:absolute;
            right:16px;
            top:30px;

            .right-eyeball{
              width:12px;
              height:12px;
              background-color: rgb(85,40,26);
              border-radius: 50%;
              margin-top: 10px;
              margin-left: 8px;
              overflow: hidden;

              .right-eye-black{
                width:6px;
                height:6px;
                background-color: black;
                border-radius: 50%;
                margin-top:2px;
              }
              .right-eye-white{
                width:2px;
                height:2px;
                background-color: white;
                border-radius: 50%;
                margin-top: -4px;
                margin-left: 8px;
              }
            }
          }
        }
      }

      @at-root {
        .glasses{
          position:absolute;
          margin-top: 40px;
          width:100%;
          .left-spectacle-top{
            width:14px;
            height:4px;
            background-color: rgb(70,55,72);
            border-top-left-radius: 20%;
            border-bottom-left-radius: 20%;
          }
          .left-spectacle-bottom{
            width:14px;
            height:4px;
            background-color: rgb(70,55,72);
            border-top-left-radius: 20%;
            border-bottom-left-radius: 20%;
          }
          .left-lenses{
            width:30px;
            height:30px;
            border:6px solid rgb(154,152,167);
            margin-left:13px;
            margin-top:-22px;
            border-radius: 50%;
          }
          .right-lenses{
            width:30px;
            height:30px;
            border:6px solid rgb(154,152,167);
            margin-left:54px;
            margin-top:-43px;
            border-radius: 50%;
          }
          .right-spectacle-top{
            width:14px;
            height:4px;
            background-color: rgb(70,55,72);
            border-top-right-radius: 20%;
            border-bottom-right-radius: 20%;
            margin-left:95px;
            margin-top:-28px;
          }
          .right-spectacle-bottom{
            width:14px;
            height:4px;
            background-color: rgb(70,55,72);
            border-top-right-radius: 20%;
            border-bottom-right-radius: 20%;
            margin-left:95px;
          }
        }
      }

      @at-root {
        .mouth{
          width:40px;
          height:20px;
          border-bottom: 1px solid rgb(22,17,40);
          border-bottom-left-radius: 60%;
          border-bottom-right-radius: 60%;
          position:absolute;
          top:68px;
          left:36px;
        }
      }

      @at-root {
        .closes{
          padding-top:96px;
          width:100%;
          .left-belt{
            width:26px;
            height:8px;
            margin-left:-2px;
            background-color: $closescolor;
            @include rotate(30deg);
            border-top-left-radius: 30%;
            border-bottom-left-radius: 30%;
          }
          .closes-body{
            width:70px;
            height:40px;
            background-color: $closescolor;
            margin-left: 20px;

            .left-button{
              width:3px;
              height:3px;
              border:2px solid black;
              border-radius: 50%;
              margin-left:1px;
            }
            .pocket{
              width:26px;
              height:18px;
              border:1px solid grey;
              margin:2px auto;
              border-bottom-left-radius: 40%;
              border-bottom-right-radius: 40%;

              .out{
                width:8px;
                height:8px;
                border:3px solid rgb(70,55,72);
                border-radius: 40%;
                margin:2px auto;
              }
            }
            .right-button{
              width:3px;
              height:3px;
              border:2px solid black;
              border-radius: 50%;
              float:right;
              margin-right:1px;
              margin-top: -31px;
            }
          }
          .right-belt{
            width:26px;
            height:8px;
            background-color: $closescolor;
            @include rotate(150deg);
            border-top-left-radius: 30%;
            border-bottom-left-radius: 30%;
            float:right;
            margin-top:-48px;
            margin-right:-2px;
          }
          .closes-bottom{
            width:100%;
            background-color: $closescolor;
            height:27px;
            margin-top: -1px;
            border-bottom-right-radius: 40px;
            border-bottom-left-radius: 40px;
          }
        }
      }
    }
    .left{
      margin-left: -14px;
      margin-top: -72px;
      .left-arm{
        width:10px;
        height:50px;
        background-color: $skincolor;
        border-top-left-radius: 70%;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        @include rotate(10deg);
      }
      .left-hand{
        .left-hand-bottom{
          width:16px;
          height:6px;
          background-color: rgb(22,17,40);
          margin-left:-6px;
          margin-top: -2px;
          border-radius: 10%;
        }
        .left-finger1{
          width:8px;
          height:18px;
          background-color: rgb(22,17,40);
          margin-left:-10px;
          border-bottom-left-radius: 60%;
          border-bottom-right-radius: 10%;
          border-top-left-radius: 30%;
          @include rotate(10deg);
        }
        .left-finger2{
          width:8px;
          height:26px;
          background-color: rgb(22,17,40);
          margin-left:-4px;
          margin-top:-20px;
          border-bottom-left-radius: 40%;
          border-bottom-right-radius: 10%;
          border-top-left-radius: 30%;
          @include rotate(2deg);
        }
        .left-finger3{
          width:8px;
          height:22px;
          background-color: rgb(22,17,40);
          margin-left:4px;
          margin-top:-24px;
          border-top-left-radius: 40%;
          border-top-right-radius: 10%;
          border-bottom-left-radius: 30%;
          @include rotate(179deg);
        }
      }
    }

    .right{
      margin-left: 110px;
      margin-top: -80px;
      animation: arm 5s cubic-bezier(0,0,0.05,1) 10;
      .right-arm{
        width:10px;
        height:50px;
        background-color: $skincolor;
        border-top-right-radius: 70%;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        @include rotate(350deg);
        transform-origin: top;
      }
      .right-hand{
        margin-left: 6px;
        animation: hand 1s infinite alternate;
        .right-hand-bottom{
          width:16px;
          height:6px;
          margin-top:-2px;
          background-color: rgb(22,17,40);
          border-radius: 10%;
        }
        .right-finger1{
          width:8px;
          height:18px;
          background-color: rgb(22,17,40);
          margin-left:-5px;
          border-bottom-left-radius: 60%;
          border-bottom-right-radius: 10%;
          border-top-left-radius: 30%;
          @include rotate(10deg);
          animation:finger1 2s infinite;
        }
        .right-finger2{
          width:8px;
          height:26px;
          background-color: rgb(22,17,40);
          margin-left:2px;
          margin-top:-20px;
          border-bottom-left-radius: 40%;
          border-bottom-right-radius: 10%;
          border-top-left-radius: 30%;
          @include rotate(2deg);
        }
        .right-finger3{
          width:8px;
          height:22px;
          background-color: rgb(22,17,40);
          margin-left:10px;
          margin-top:-24px;
          border-top-left-radius: 40%;
          border-top-right-radius: 10%;
          border-bottom-left-radius: 30%;
          @include rotate(179deg);
          animation:finger3 2s infinite;
        }
      }
    }
    .left-leg{
      width:16px;
      margin-top:-4px;
      margin-left:22px;
      border-top:20px solid $closescolor;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .left-foot{
      width:18px;
      height:12px;
      background-color: rgb(22,17,40);
      margin-left:27px;
      border-bottom-left-radius: 40%;
      border-bottom-right-radius: 50%;
      @include skew(150deg);
    }
    .right-leg{
      width:16px;
      margin-top:-30px;
      margin-left:58px;
      border-top:20px solid $closescolor;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      animation:leg 5s ease-out infinite;
    }
    .right-foot{
      width:18px;
      height:12px;
      background-color: rgb(22,17,40);
      margin-left:68px;
      border-bottom-left-radius: 40%;
      border-bottom-right-radius: 50%;
      animation:foot 5s ease-out infinite;
    }
  }


}